<div class="container">
  <h1>Result</h1>
  <h2>Your word: </h2>
  <h3><%=@word%></h3>
  <h2><%=@message%></h2>
  <h2>Your score: </h2>
  <h3><%=@score%></h3>
  <div class="backlink">
    <a href="/">Play Again</a>
  </div>
</div>
